*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero{
  width: 100%;
  height: 100vh;
  background-image: url(images/8eb30cgaz0j11.gif);
  background-position: center;
  position: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}

.logo{
  width: 100px;
  cursor: pointer;
}

.navbar{
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button{
  color: #212121;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid #212121;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  color: #6A6A6A;
  padding: 10px 25px;
  background: transparent;
  font-weight: bold;
  border: 2px solid #6A6A6A;
  border-radius: 20px;
  cursor: pointer;
}

.content{
  color: #212121;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}

h1{
  font-size: 80px;
  margin: 10px 0 30px;
  line-height: 80px;
}

.side-bar{
  width: 50px;
  height: 100vh;
  background: linear-gradient(#2D444E,#003F4F );
  position: absolute;
  right: 0;
  top: 0;
}

.menu{
  display: block;
  width: 25px;
  margin: 40px auto 0;
  cursor: pointer;
}

.social-links img, .useful-links img{
  width: 25px;
  margin: 5px auto;
  cursor: pointer;
}
.social-links{
  width: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.useful-links{
  width: 50px;
  text-align: center;
  position: absolute;
  bottom: 30px;
}

.bubbles img{
  width: 50px;
  animation: bubble 7s linear infinite;
}

.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

@keyframes bubble{
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1){
  animation-delay: 2s;
  width: 25px;
}

.bubbles img:nth-child(2){
  animation-delay: 1s;
}

.bubbles img:nth-child(3){
  animation-delay: 3s;
  width: 25px;
}

.bubbles img:nth-child(4){
  animation-delay: 4.5s;
}

.bubbles img:nth-child(5){
  animation-delay: 3s;
}

.bubbles img:nth-child(6){
  animation-delay: 6s;
  width: 20px;
}

.bubbles img:nth-child(7){
  width: 35px;
  animation-delay: 7s;
}
